

services:
  backend:
    build: ./backend
    container_name: boston_backend
    ports:
      - "8000:8000"
    volumes:
      - ./backend:/app
    restart: always

  frontend:
    build: ./frontend
    container_name: boston_frontend
    ports:
      - "5173:80"
    depends_on:
      - backend
    restart: always
